# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3
*.db
*.egg-info/
*.egg
*.log

# Virtual environment
venv/
env/
ENV/

# Django
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3
/staticfiles/
media/

# VSCode / IDEs
.vscode/
.idea/

# Environment variables
.env
