{% extends "books/base.html" %} {% block content %}
<h2>Books</h2>
<div class="side-by-side">
  <a href="{% url 'book_add' %}" class="btn btn-primary">Add New Book</a>
  <form method="get" action="{% url 'book_list' %}" class="search-form">
    <input type="text" name="q" placeholder="Search by ID, Title, Author(s), Year, Publisher or Category" value="{{ request.GET.q }}" autocomplete="off" />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<div class="books-container">
  {% for book in page_obj %}
    <div class="book-card">
      <h3>{{ book.title }}</h3>
      {% if book.subtitle %}
      <p class="subtitle">{{ book.subtitle }}</p>
      {% endif %}
      <p><strong>ID:</strong> {{ book.display_id }}</p>
      <p><strong>Authors:</strong> {{ book.authors }}</p>
      <p><strong>Category:</strong> {{ book.category.name }}</p>
      <p><strong>Publisher:</strong> {{ book.publisher }}</p>
      <p><strong>Expense:</strong> <strong>$</strong>{{ book.distribution_expense }}</p>
      <p><strong>Published:</strong> {{ book.published_date }}</p>
      <div class="actions">
        <a href="{% url 'book_edit' book.pk %}" class="btn btn-primary btn-sm">Edit</a>
        <a href="{% url 'book_delete' book.pk %}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </div>
  {% empty %}
    <p class="no-results">No books found matching your search.</p>
  {% endfor %}
</div>
  {% include "includes/_pagination.html" %} {% endblock %}
</div>
